body {
    background-color: rgb(124, 178, 250)
}

header {

}

.mainFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.productRows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.productCard {
    width: 350px;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin: 15px;
    padding: 10px;
}

.itemForSaleTitle {
    text-align: center;
}

.images {
    width: 200px;
}

.description {
    text-align: center;
}

.availability {
    text-align: left;
}

.specs {
    text-align: left;
}

.size {
    text-align: left;
}

.weight {
text-align: left;
}

.specValidity {
    text-align: left;
}

.pricing {
    text-align: left;
}

.pricingDetail {
    text-align: left;
}


.PCsection2 {
    display: flex;
    flex-direction: column;
}


h1 {
    justify-content: flex-start;
    text-align: center;

}


h3 {
    display: flex;
    align-self: flex-start;
}